<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628201266237-airvj0530qa1qluop5m98vntsgf8rjub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628201266237-airvj0530qa1qluop5m98vntsgf8rjub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628201266237-s4pas6pjk6srjfudi6f4nkqrt1n4l7hl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdHAcX3laNNTYI6py4Ba2e9Z-q76v3TAM</string>
	<key>GCM_SENDER_ID</key>
	<string>628201266237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGallerySewon</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-713e0</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-713e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628201266237:ios:3907ae28ad5cdb993d9e54</string>
</dict>
</plist>